.contrast-toggle--keySelected {
  border-width: 5px;
  border-style: double;
  /* border-color: black; */
}

.contrast-toggle--noMatch {
  background-color: #787C7E;
  color: white;
}

.contrast-toggle--match {
  background-color: #c9b458;
  color: white;
}

.contrast-toggle--exactMatch {
  background-color: #6aaa64;
  color: white;
}

.contrast-toggle {
  height: 27px;
  width: 27px;
  border: solid black;
  border-radius: 50%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: linear-gradient( 90deg, #85c0f9 50%, #f5793a 50% );
}